<!DOCTYPE html>

<html>
<head>
  <title>Foxiemedia</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="header"><div id="header-content">	

	<h1 id="logo-text"><a href="index.html" title="">Foxie<span>Media</span></a></h1>	
	<h2 id="slogan">The best way to organise your media</h2>		

	<div id="header-links">
		<p>
            <% if signed_in? %>
                <%= link_to "#{current_user.realname}" || "#{current_user.username}", current_user %> |
                <%= link_to 'Log out', logout_path %>
            <% else %>
              <%= link_to 'Log In', login_path %>
            <% end %> |
			<a href="index.html">Shutdown</a>			
		</p>		
	</div>	

	</div></div>

	<!-- navigation starts here -->
	<div id="nav-wrap"><div id="nav">
		
		<ul>
			<li<%= raw(" id=\"current\"") if params[:controller] == 'shows' %>><a href="/">Home</a></li>
			<li><a href="#">Downloads</a></li>
			<li<%= raw(" id=\"current\"") if params[:controller] == 'configs'%>><%= link_to 'Config', configs_path %></li>
			<li><a href="#">Tools</a></li>
			<li><a href="#">Logs</a></li>
			<li><a href="#">About</a></li>			
		</ul>
	
	</div></div>

	<div id="content-wrap"><div id="content">	 
	
		<div id="sidebar" >	
		
				<div class="sep"></div>
				
				<div class="sidebox">
					<h1>Search Box</h1>	
					<form action="#" class="searchform">
						<p>
							<input name="search_query" class="textbox" type="text" />
  							<input name="search" class="button" value="Search" type="submit" />
						</p>			
					</form>
				</div>
		
				<div class="sidebox">
					<h1>Shows</h1>
					<ul class="sidemenu">
						<li><%= link_to 'Show All', shows_path %></li>
						<li><a href="#TemplateInfo">Upcoming Downloads</a></li>
						<li><%= link_to 'New Show', shows_find_path %></li>
					</ul>		
				</div>
			
				<div class="sidebox">
					<h1>Movies</h1>
					<ul class="sidemenu">
                        <li><a href="#">Show All</a></li>
						<li><a href="#">Awaiting Confirmation</a></li>
						<li><a href="#">Currently Unavailable</a></li>	
						<li><a href="#">Add Movie</a></li>
					</ul>
				</div>
				
				<div class="sidebox">
					<h1>RSS Feed</h1>
					<p><a href="index.html" ><img src="/assets/rssfeed.gif" alt="RSS Feed" class="rssfeed" /></a><br />
					subscribe to the <strong><a href="index.html" >rss feed</a></strong>
					</p>
				</div>	
				
		</div>	
	
		<div id="main">

            <% if flash %>
              <div id="flash_messages">
                <% flash.each do |key, value| %>
                    <div class="flash <%= key %>"><%= value %></div>
                <% end %>

              </div>
            <% end %>
		
			<%= yield %>		
			
			<br />				
										
		</div>			
		
	
	<!-- content-wrap ends here -->		
	</div></div>

</body>
</html>
